{% load bootstrap4 %}

<div id="memo_add" class="modal fade" role="dialog" data-backdrop="false"
     style="background-color: white; width: 80%; height: 80%; text-align: center; margin: auto auto; border: 1px solid gray;">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <h4>add new memo</h4>
        <hr>

        <form action="{% url 'memoapp:create' %}" method="post" class="form-inline">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <input type="submit" class="btn btn-primary">
            <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
        </form>
    </div>
</div>