{% load bootstrap4 %}

{% block content %}

    <div id="memo_add" class="modal fade modal_box_div" role="dialog" data-backdrop="false">
        <div class="modal-dialog modal-dialog-centered" role="document">

            <h4>add new memo</h4>
            <hr>

            <form action="{% url 'memoapp:create' %}" method="post" class="form-inline">
                {% csrf_token %}
                <table>
                    {{form.as_table}}
                </table>
                <button type="submit" class="button_add material-icons">add</button>
                <button type="button" class="button_add material-icons" data-dismiss="modal">cancel</button>
            </form>
        </div>
    </div>

    <button type="button" class="material-icons button_add" data-target="#memo_add" data-toggle="modal">add</button>

{% endblock %}