{% extends 'base.html' %}

{% block content %}

  <div style="border: 1px solid; text-align: left; padding: 4%; margin: 1rem 0; border-radius: 1rem; border-color: #bbb;">
    <div>
      title : {{ target_memo.title }}
    </div>
    <div>
      content : {{ target_memo.content | safe }}
    </div>
    <div style="text-align: right">
    </div>
    <a href="{% url 'memoapp:list' %}" class = "btn btn-danger rounded-pill col-3">
        List
    </a>
    <a href="{% url 'memoapp:update' pk=target_memo.pk %}" class = "btn btn-danger rounded-pill col-3">
        Update
    </a>
    <a href="{% url 'memoapp:delete' pk=target_memo.pk %}" class = "btn btn-danger rounded-pill col-3">
        Delete
    </a>
  </div>
{% endblock %}


{% extends 'base.html' %}

{% block content %}


  <div id="MemoDetailView" class="modal fade" role="dialog" data-backdrop="false"
   style="background-color: white; width: 50%; height: 50%; text-align: center; margin: auto auto; border: 1px solid gray;">
      <div class="modal-dialog modal-dialog-centered" role="document">

          <h4>Detailed memo</h4>
          <hr>

          <form action="{% url 'memoapp:detail' pk=target_memo.pk %}" method="post" class="form-inline">
              <div>
                title : {{ target_memo.title }}
              </div>
              <div>
                content : {{ target_memo.content | safe }}
              </div>
              <hr>
              <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
          </form>
      </div>
  </div>

{% endblock %}