{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}


    <div class="bookmark_form_div">
        <h2 class="form_title" style="margin-bottom: 1rem;">Memo list&nbsp</h2>
        <hr>

        {% for memo in memo_list %}
        <div>
            <a data-toggle="modal" data-target="#memo_detail{{ memo.pk }}">{{ memo.title | safe }}</a>
            <button class="material-icons" data-toggle="modal" data-target="#memo_update{{ memo.pk }}" class="material-icons">edit</button>
            <button class="material-icons" data-toggle="modal" data-target="#delete_modal{{ memo.pk }}" class="material-icons">delete</button>


        </div>

        <div id="delete_modal{{ memo.pk }}" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">delete memo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this memo?</p>
                    </div>
                    <div class="modal-footer">
                        <button onclick="delete_modal({{ memo.pk }})" type="button" class="btn btn-dark">delete</button>
                        <button type="button" class="btn btn-light" data-dismiss="modal">cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="memo_detail{{ memo.pk }}" class="modal fade modal_box_div" role="dialog" data-backdrop="false">
              <div class="modal-dialog modal-dialog-centered" role="document">
                  <div>
                    title : {{ memo.title }}
                  </div>
                  <div>
                    content : {{ memo.content | safe }}
                  </div>
                  <hr>
                  <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
              </div>
        </div>

        {% endfor %}

    </div>

    {% include 'snippets/pagination.html' with page_obj=page_obj %}

    <hr>

    {% include 'memoapp/create.html' %}

    <script type="text/javascript">
        function delete_modal( pk ) {
            location.replace('/memos/delete/'+pk);

        function hideModal( id ) {
            $(id).removeClass("in");
            $(".modal-backdrop").remove();
            $(".show").remove();
            $('body').removeClass('modal-open');
            $('body').css('padding-right', '');
            $(id).hide();
        }
    </script>

{% endblock %}