{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="account_form_div">
        <div>
            <h3 class="form_title"><strong>Sign Up</strong></h3>
            <hr>
        </div>
        <form action="{% url 'accountapp:create' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="button_submit" value="start"><br>
            <a href="{% url 'accountapp:login' %}" class="account_url">login page</a>
        </form>
    </div>
{% endblock %}