{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<div>
    <div class="account_form_div">
        <div>
            <h3 class="account_form_title"><strong>Login</strong></h3>
            <hr>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value="login" class="button_submit">
            <a href="{% url 'accountapp:create' %}" class="account_url"><h6>SignUp</h6></a>
        </form>
    </div>
</div>
{% endblock %}