{% load bootstrap4 %}
    <div class="bookmark_form_div">
        <h2 class="form_title">bookmarks</h2>

        {% for bookmark in bookmark_list %}
        <div class="bookmark_box">
            <div class="button_div">
                <img src="{{ bookmark.favicon_url }}">
                <a href="{{ bookmark.url }}">{{ bookmark.title | truncatechars:20 }}</a>
                <span>
                    <button class="material-icons edit_button" data-toggle="modal" data-target="#delete_modal{{ bookmark.pk }}" class="material-icons">delete</button>
                    <button class="material-icons edit_button" data-toggle="modal" data-target="#bookmark_update{{ bookmark.pk }}" class="material-icons">edit</button>
                </span>
            </div>
        </div>

        <div id="delete_modal{{ bookmark.pk }}" class="modal fade modal_box_div" role="dialog" data-backdrop="false">
            <div role="document">
                        <h4>delete bookmark</h4>
                        <hr>
                    <div>
                        Are you sure you want to delete this bookmark?
                    </div>
                    <hr>
                    <div>
                        <button onclick="delete_modal({{ bookmark.pk }})" type="button" class="btn btn-dark">delete</button>
                        <button type="button" class="btn btn-light" data-dismiss="modal">cancel</button>
                    </div>
            </div>
        </div>

        <div id="bookmark_update{{ bookmark.pk }}" class="modal fade modal_box_div" role="dialog" data-backdrop="false">
            <div role="document">
                <h4>edit bookmark</h4>
                <hr>
                <form action="{% url 'bookmarkapp:update' pk=bookmark.pk %}" method="post" class="form-inline">
                    {% csrf_token %}
                    <input type="text" id="title" name="title" placeholder="input title" value="{{ bookmark.title }}"><br>
                    <input type="text" id="url" name="url" placeholder="*input url*" value="{{ bookmark.url }}">
                    <hr>
                    <input type="submit" class="btn btn-primary" value="apply">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                </form>
            </div>
        </div>
        {% endfor %}

        <div id="bookmark_add" class="modal fade modal_box_div" role="dialog" data-backdrop="false">
            <div role="document">

                <h4>add new bookmark</h4>
                <hr>

                <form action="{% url 'bookmarkapp:create' %}" method="post" class="form-inline">
                    {% csrf_token %}
                    <input type="text" class="input" name="title" placeholder="input title"><br>
                    <input type="text" class="input" name="url" placeholder="*input url*">
                    <hr>
                    <input type="submit" class="btn btn-primary" value="add">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                </form>
            </div>
        </div>

        <button type="button" class="material-icons button_add" data-target="#bookmark_add" data-toggle="modal">add</button>
    </div>



    <script type="text/javascript">
        function delete_modal( pk ) {
            location.replace('/bookmarks/delete/'+pk);
            alert('deleting completed');
        }
    </script>
