{% extends 'base.html' %}

{% block content %}
    <div style="display;flex;">
        <h2>bookmarks</h2>
        <div style="width:10rem; height:10rem; background-color: pink; border-radius: 1rem;">
            <a href="#">test01</a>
        </div>
        <div style="width:10rem; height:10rem; background-color: pink; border-radius: 1rem;">
            <a href="#">test02</a>
        </div>
        <div style="width:10rem; height:10rem; background-color: pink; border-radius: 1rem;">
            <a href="#">test03</a>
        </div>
    </div>
{% endblock %}