{% load bootstrap4 %}

<div id="bookmark_add" class="modal fade" role="dialog" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <h4>add new bookmark</h4>
        <hr>
        <form action="{% url 'bookmarkapp:create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {% bootstrap_field field %}
            {% endfor %}
            <hr>
            <input type="submit" class="btn btn-warning" value="add">
            <button type="button" class="btn btn-danger" data-dismiss="modal">cancel</button>
        </form>
    </div>
</div>