{% extends 'base.html' %}
{% load static %}

{% block content %}

    <head>
      <title></title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <script type="text/javascript">
        function delete_all() {
            location.replace('/todos/delete_all/');
            alert('deleted all tasks');
        }
        function todo_check( pk ) {
            location.replace('/todos/check/'+pk);
        }
    </script>

    <div>
        <h3>todo list &nbsp <span style="font-size: 1rem;"><a data-target="#delete_all_modal" data-toggle="modal">delete all</a></span></h3>

        <hr>

        {% for todo in todo_list %}
            <div>
                {% if todo.done %}
                    <a class="material-icons checked" onclick="todo_check(pk={{ todo.pk }})">
                        check_box
                    </a>
                    <span class="checked" style="color: gray;">{{ todo.content }}</span>
                {% else %}
                    <a class="material-icons unchecked" onclick="todo_check(pk={{ todo.pk }})">
                        check_box_outline_blank
                    </a>
                    <span>{{ todo.content }}</span>
                {% endif %}

                <a href="{% url 'todoapp:delete' pk=todo.pk %}" class="material-icons" style="color: gray;">delete</a>
            </div>

            <div id="delete_all_modal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">delete all tasks</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete all task?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="delete_all()" class="btn btn-dark">delete</button>
                            <button type="button" class="btn btn-light" data-dismiss="modal">cancel</button>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}

        <hr>

        {% include 'todoapp/create.html' %}

    </div>

{% endblock %}