{% extends 'base.html' %}
{% load static %}

{% block content %}

    <script type="text/javascript">
        function delete_all() {
            location.replace('/todos/delete_all/');
            alert('deleted all tasks');
        }

        function todo_check( pk ) {
            location.replace('/todos/check/'+pk);
        }

        function hideModal( id ) {
            $(id).removeClass("in");
            $(".modal-backdrop").remove();
            $(".show").remove();
            $('body').removeClass('modal-open');
            $('body').css('padding-right', '');
            $(id).hide();
        }
    </script>

    <div class="bookmark_form_div">
        <h2 class="form_title" style="margin-bottom: 1rem;">todo list&nbsp</h2>
        <div style="vertical-align: bottom; margin-bottom: 2rem;"><a data-target="#delete_all_modal" class="account_url" data-toggle="modal">
            delete all&nbsp<span class="material-icons edit_button">delete_forever</span>
        </a></div>

        {% for todo in todo_list %}

            <div class="button_div">
                {% if todo.done %}
                    <a class="material-icons checked" onclick="todo_check(pk={{ todo.pk }})">
                        check_box
                    </a>
                    <span class="checked" style="color: gray;">{{ todo.content }}</span>
                {% else %}
                    <a class="material-icons unchecked" onclick="todo_check(pk={{ todo.pk }})">
                        check_box_outline_blank
                    </a>
                    <span>{{ todo.content }}</span>
                {% endif %}
                <span>
                    <a data-toggle="modal" data-target="#todo_update{{ todo.pk }}" class="material-icons edit_button">edit</a>
                    <a href="{% url 'todoapp:delete' pk=todo.pk %}" class="material-icons edit_button">delete</a>
                </span>
            </div>

            <div id="delete_all_modal" class="modal fade modal_box_div" tabindex="-1" role="dialog">
                <div role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">delete all tasks</h4>
                            <button type="button" class="close" onclick="hideModal('delete_all_modal')" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete all task?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="delete_all()" class="btn btn-dark">delete</button>
                            <button type="button" class="btn btn-light" data-dismiss="modal">cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="todo_update{{ todo.pk }}" class="modal fade modal_box_div" role="dialog" data-backdrop="false">
                <div role="document">

                    <h4>edit task</h4>
                    <hr>

                    <form action="{% url 'todoapp:update' pk=todo.pk %}" method="post" class="form-inline">
                        {% csrf_token %}
                        <input type="text" class="" id="new_title" name="title" placeholder="input title" value="{{ todo.content }}"><br>
                        <hr>
                        <input type="submit" id="submit" class=" button_submit" value="apply">
                        <button type="button" class="material-icons" onclick="hideModal('todo_update{{ todo.pk }}')">cancel</button>
                    </form>
                </div>
            </div>

        {% endfor %}

        <hr>

        {% include 'todoapp/create.html' %}

    </div>

{% endblock %}