/* main - header */
body {
    background-color: #d2e5d7;
}

a:hover {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 2rem 2rem;
    box-shadow: inset -1rem -1rem 60px #b3c3b7,
                inset 1rem 1rem 60px #f2fff7;
}

button {
    background: none;
    border: none;
}

.header a {
    color: #96ab9c;
}


.logo {
    font-size: 3rem;
    padding: 2rem;
}

.gnb {
    padding: 2rem;
    color: #96ab9c;
    text-align: center;
}

.search_form {
    vertical-align: middle;
}

.search {
    display: flex;
    align-items: center;
}

.search_button {
    border: 0;
    background: none;
    margin: 0;
    padding: 0;
    color: #96ab9c;
}

input {
    border: 1px solid gray;
}

/* main - content */
.main {
    padding: 2rem;
    text-align: center;
}

.link_flex_box {
    display: flex;
    justify-content: space-between;
}

.link_box {
    width: 50rem;
    height: 10rem;
    margin: 3rem 1rem;
    padding: 2rem;

    border-radius: 1rem;
    box-shadow: inset 1rem 1rem 2rem #bdcec2,
                inset -1rem -1rem 2rem #e7fced;
}

.link_box a {
    color: #96ab9c;
}