{% load static %}

<head>
    <meta charset="UTF-8">
    <title>BaaN</title>

    <!-- icon -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>

    <!-- bootstrap link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- default style sheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'base.css'%}?after">

    <!-- material icons -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
</head>